/* common */
:root {
    --grey: #1f1f1f;
    --grey_500: #363636;
    --grey_300: #797979;
    --grey_100: #999999;
    --red: #cd3d0f;
    --blue: #161c3b;
    --blue_800: #00439c;
    --blue_700: #2d64e6;
    --blue_500: #3066e6;
    --blue_300: #0072ce;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-xxl {
    padding: 0 1.5rem;
}
/* typo */
h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h6 {
    color: var(--blue_300);
}

.subtitle {
    color: var(--grey_300);
}

/* button */
button {
    border-width: 0;
    background-color: transparent;
}

.btn {
    border-radius: 50px;
    color: #fff;
}

.btn:hover {
    color: white;
}

.btn--blue {
    background-color: var(--blue_700);
}

.btn--grey {
    background-color: var(--grey);
}

.btn--red {
    background-color: var(--red);
}

.active--blue {
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px var(--blue_300);
}

/* header */
header {
    position: fixed;
    width: 100%; 
    background-color: #fff;
}

.header-top {
    background-color: #000;
    padding: 10px 1.5rem;
}

.hero-bottom-wrapper {
    background-color: #fff;

}
.header-top__logo {
    text-align: right;
}

.header-top__logo img{
    height: 15px;
}

.navbar .container-fluid{
    padding: auto 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-brand {
    width: 40px;
}

.navbar-brand img {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
}
.nav-link {
    position: relative;
}

.dropdown-toggle::after {
    border: none;
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    vertical-align: middle;
}

.navbar .accedi {
    margin: 0 10px;
}


.btn__icon {
    height: 25px;
}

/* main */
main {
    padding-top: 110px;
}

section {
    margin-bottom: 70px;
}
.col__img img {
    width: 100%;
}


/* hero */
#hero {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    color: #fff;
}

.hero-top-wrapper {
    padding: 250px 0 50px;
}
.hero-top__img {
    width: 60%;
}
#hero img {
    width: 100%;
}

#hero h2 {
    margin: 2rem 0;
}
#hero p {
    margin: 1.5rem 0;
}

#hero > .container-fluid {  
    background-color: #fff;
}

.hero-bottom-wrapper {
    padding: 1.5rem 0;
}

.hero-bottom-wrapper button {
    padding: 0;
}

.hero-bottom__img {
    border-radius: 1rem;
    overflow: hidden;
    margin: .75rem 0;
}

/* console */
.console__center {
    padding: 3rem 0;
}
.products {
    padding: .75rem;
}

.products button:not(button.selected) {
    opacity: 0.5;
}

.products > .selected {
    border-bottom: 2px solid var(--blue_300);
}

.products .col__img {
    margin: 1rem 0;
}

/* ≥ 576px */
@media screen and (min-width: 576px) {
    section > div {
        padding: 0 1.5rem;
    }
}

/* ≥ 992px */
@media screen and (min-width: 992px) {
    /* console */
    .products {
        padding: 0;
    }

    .products img {
        width: 50%;
    }
    
}
/* /main */
/* footer */