/* common */
:root {
    --grey: #1f1f1f;
    --grey_500: #363636;
    --grey_300: #797979;
    --grey_100: #999999;
    --red: #cd3d0f;
    --blue: #161c3b;
    --blue_800: #00439c;
    --blue_700: #2d64e6;
    --blue_500: #3066e6;
    --blue_300: #0072ce;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section:not(#hero, #new-releases) {
    padding: 0 1.5rem;
}

/* typo */
h2 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.8rem;
}

h6 {
    color: var(--blue_300);
}

.subtitle {
    color: var(--grey_300);
}

.inner-subtitle {
    font-size: 1.4rem;
}
/* button */
button {
    border-width: 0;
    background-color: transparent;
    border-radius: 1.5rem;
}

.btn {
    border-radius: 1.5rem;
    color: #fff;
}

.btn:hover {
    color: white;
}

.btn--blue {
    background-color: var(--blue_700);
}

.btn--grey {
    background-color: var(--grey);
}

.btn--red {
    background-color: var(--red);
}

.active--blue {
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px var(--blue_300);
}

/* header */
header {
    position: fixed;
    width: 100%; 
    background-color: #fff;
}

.header-top {
    background-color: #000;
    padding: 10px 1.5rem;
}

.hero-bottom-wrapper {
    background-color: #fff;

}
.header-top__logo {
    text-align: right;
}

.header-top__logo img{
    height: 15px;
}

.navbar .container-fluid{
    padding: auto 0;
}

.navbar-toggler {
    margin-right: .75rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-brand {
    width: 40px;
}

.navbar-brand img {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
}
.nav-link {
    position: relative;
}

.dropdown-toggle::after {
    border: none;
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    vertical-align: middle;
}

.navbar .accedi {
    margin: 0 10px;
}


.btn__icon {
    height: 25px;
}

/* main */
main {
    padding-top: 110px;
}

section {
    margin-bottom: 70px;
}
.col__img img {
    width: 100%;
}

.section-top__wrapper img {
    width: 50%;
}

.section-bottom__wrapper {
    padding: 1.5rem;
}

.section-bottom__img {
    overflow: hidden;
    padding: 0;
    margin: .75rem 0;
    text-align: left;
    color: #fff;
}

.section-bottom__img img{
    border-radius: 1.5rem;
}

.section-bottom__img p {
    margin-top: 1rem;
}
/* hero */
#hero {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    color: #fff;
}

.section-bottom__img img {
    width: 100%;
}

#hero h2 {
    margin: 2rem 0;
}
#hero p {
    margin: 1.5rem 0;
}

#hero .section-bottom {  
    background-color: #fff;
}

#hero .section-top__wrapper {
    padding: 250px 1.5rem 50px;
}


/* console */
.console__center {
    padding: 3rem 0;
}
.products {
    padding: .75rem;
}

.products button:not(button.selected) {
    opacity: 0.5;
}

.products > .selected {
    border-bottom: 2px solid var(--blue_300);
}

.products .col__img {
    margin: 1rem 0;
}

/* new-releases */
#new-releases {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
}
#new-releases .section-top__wrapper {
    padding: 50px 1.5rem;
}

#new-releases .section-bottom{
    background-color: var(--grey);
}


/* /main */
/* footer */