/* common */
:root {
    --grey: #1f1f1f;
    --grey_500: #363636;
    --grey_300: #797979;
    --grey_100: #999999;
    --red: #cd3d0f;
    --blue: #161c3b;
    --blue_800: #00439c;
    --blue_700: #2d64e6;
    --blue_500: #3066e6;
    --blue_300: #0072ce;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* typo */
h2 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.8rem;
}

h6 {
    color: var(--blue_300);
}

p {
    font-size: 1rem;
}
.subtitle {
    color: var(--grey_300);
}

.inner-subtitle {
    font-size: 1.4rem;
}
/* button */
button {
    border-width: 0;
    background-color: transparent;
    border-radius: 1.5rem;
    border: none;
}

a:not(.underline){
    text-decoration: none;
}

a {
    color: #fff;
}

.btn {
    border-radius: 1.5rem;
    color: #fff;
    border-width: 2px;
}


.btn--blue {
    background-color: var(--blue_700);
}

.btn--grey {
    background-color: var(--grey);
}

.btn--red {
    background-color: var(--red);
}

.btn--tr {
    background-color: rgba(255, 255, 255, .5);
    color: var(--blue_500);
}

.btn--wth {
    background-color: #fff;
    color: #000;
}

.active--blue {
    box-shadow: 0 0 0 2.5px var(--blue_300);
    border: 2.5px solid #fff;
}

.btn:hover {
    color: #fff;
}

a:hover {
    color: #fff;
}

.btn--grey:hover {
    box-shadow: inset 0 0 0 2px #fff;
    border: 2px solid var(--grey_300);
    background-color: var(--grey_300);
}

.btn--blue:hover {
    box-shadow: inset 0 0 0 2px #fff;
    border: 2px solid  var(--blue_700);
    background-color:  var(--blue_700);
}

.btn--red:hover {
    box-shadow: inset 0 0 0 2px #000;
    border: 2px solid var(--red);
    background-color: var(--red);
}

.btn--tr:hover {
    box-shadow: 0 0 5px .5px #fff;
    color: var(--blue_500);
}

.btn--wth:hover {
    box-shadow: inset 0 0 0 2px #161c3b;
    border: 2px solid #fff;
    color: #000;
    background-color: #fff;
}


/* header */
header {
    position: fixed;
    width: 100%; 
    background-color: #fff;
    z-index: 10;
}

.header-top {
    background-color: #000;
    padding: 10px .75rem;
}

.hero-bottom-wrapper {
    background-color: #fff;
}

.header-top__logo {
    text-align: right;
}

.header-top__logo img{
    height: 15px;
}

.navbar .container-fluid{
    padding: auto 0;
}

.navbar-nav.nav__right {
    flex-flow: row wrap;
}
.navbar-nav.nav__right > .nav-item:first-child {
    width: 100%;
}
.navbar-nav.nav__right .nav-item:not(:first-child) {
    width: 50%;
    padding: 1.3rem 0 .3rem;
}

.navbar-nav.nav__right .search {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-brand {
    width: 40px;
    margin-right: 0;
}

.navbar-brand img {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: .3rem 0;
}

.nav-link {
    position: relative;
}

.dropdown-menu li {
    color: var(--blue_300);
}

.dropdown-menu a{
    padding-left: 0;
    margin-right: 1rem;
}

.dropdown, .dropend, .dropstart, .dropup {
    position: static;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}
.dropdown-menu {
    justify-content: center;
}

.dropdown-menu:not(.two-levels).show {
    display: flex;
}

.dropdown-menu:not(.two-levels).show,
.ul--list-style{
    list-style: disc;
}

.dropdown-menu.two-levels.show{
    flex-direction: column;
}

.header-bottom {
    position: relative;
}

.navbar-expand-lg .navbar-nav .dropdown-menu.show {
    left: 0;
    right: 0;
}
.dropdown-toggle::after {
    border: none;
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    vertical-align: middle;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--blue_300);
}    

.dropdown-toggle:hover.dropdown-toggle::after,
.dropdown-toggle.show.dropdown-toggle::after {
    content: url(../img/chevron-down-solid-hover.svg);
    transition: transform .3s ease-in;
}

.dropdown-toggle.show.dropdown-toggle::after{
    transform: rotate(180deg);
}

.btn__icon {
    height: 25px;
}


.dropdown-item:focus, .dropdown-item{ 
    transition: opacity .4s ease-in-out;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0);
    opacity: .7;
}

.dropdown-item__img {
    margin: 1rem;
    padding: 0;
    width: 100px;
}

.dropdown-item__img:hover{
    box-shadow: 0 0 .2em .2rem rgba(0, 0, 0, .08);  
    border-radius: .3rem;
    opacity: 1;
}
.dropdown-item__img img {
    width: 100%;
    border-radius: .3rem;

}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 10px;
    }

    .navbar-nav.nav__right {
        flex-flow: row nowrap;
        justify-content: end;
        align-items: center;
    }

    .navbar-nav.nav__right > .nav-item:first-child {
        width: auto;
    }
    .navbar-nav.nav__right .nav-item:not(:first-child) {
        width: auto;
        padding: 0;
    }

    .navbar .login .btn {
        margin: 0 10px;
    }

    .dropdown-menu {
        border: none;
        border-radius: 0;
    }
}

@media screen and (min-width:1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 20px;
    }
    
}
/* main */
main {
    padding-top: 110px;
}

section, .banner {
    margin-bottom: 70px;
}
.col__img img {
    width: 100%;
}

.section-top__wrapper img {
    width: 50%;
}

.section-bottom__wrapper {
    padding: 1.5rem 0;
}

.section-bottom__img {
    overflow: hidden;
    padding: 0;
    margin: .75rem 0;
    text-align: left;
    color: #fff;
    transition: transform .4s ease-in-out;
}

.section-bottom__img img{
    border-radius: 1.5rem;
}

.section-bottom__img p {
    margin-top: 1rem;
}

.section-wht__content {
    padding: 3rem 0;
}

.banner {
    padding: 0 .75rem;
}
.banner__left {
    padding: 50px 0;
}

.banner__right {
    position: relative;
}

.banner p {
    margin: 1.5rem 0;
}


/* hero */
#hero {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    color: #fff;
    background-position: top;
}

#hero h2 {
    margin: 2rem 0;
}
#hero p {
    margin: 1.5rem 0;
}

#hero .section-top__wrapper {
    padding: 250px 0 50px;
}

#hero .section-bottom {  
    background-color: #fff;
}

#hero .section-bottom__img img {
    width: 100%;
    /* padding: 4px; */
}

#hero .section-bottom__img:hover.section-bottom__img:not(.active--blue) {
    transform: translateY(-15px);
    box-shadow: 0 8px 10px -10px #000;
}

/* console */
.products {
    padding: .75rem;
}

.products a, .products a:hover {
    color: #000;
}

.products a:not(a.selected) {
    opacity: 0.5;
    transition: opacity .4s ease-in-out;
}

.products a:hover:not(a.selected) {
    opacity: 1;
}

.products > .selected {
    border-bottom: 2px solid var(--blue_300);
}

.products .col__img {
    margin: 1rem 0;
}

/* new-releases */
#new-releases {
    color: #fff;
}
#new-releases .section-top__wrapper {
    padding: 50px 0;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    background-size: cover;
}

#new-releases .section-bottom{
    background-color: var(--grey);
}

/* explore */
.section-wht__content > div {
    margin: 1rem 0;
}

/* ps-plus */
#ps-plus {
    background-color: #bebcbb;
}

/* ps-now */
#ps-now {
    background-color: #161c3b;
    color: #fff;
}


@media screen and (min-width: 576px) {
    /* main */
    section:not(#hero, #new-releases) {
        padding: 0 1.5rem;
    }   
    
    .banner {
        padding: 0 2rem;
    }
    
    .section-bottom__wrapper {
        padding: 1.5rem;
    }

    /* hero */
    #hero .section-top__wrapper {
        padding: 250px 1.5rem 50px;
    }

    /* new-releases */
    #new-releases .section-top__wrapper {
        padding: 50px 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    /* banner (ps-plus/ps-now) */
    .banner__right img {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    /* console */
    .products .col__img {
        width: 60%;
        margin: 1rem auto;
    }  
}

/* /main */

/* footer */
footer {
    background-color: #00439c;
    color: #fff;
    padding: 70px 0;
}

.col__img-ps {
    width: 100px;
}

.col__img-globe {
    width: 25px;
    display: inline-block;
}

.col__img-sie {
    width: 130px;
    margin-bottom: 15px;
}

footer .col-left__bt {
    margin: 40px 0;
}

footer li {
    margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
    footer {
        padding: 70px 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .col-sie {
        margin-top: 40px;
    }    
}