/* common */
:root {
    --grey: #1f1f1f;
    --grey_500: #363636;
    --grey_300: #797979;
    --grey_100: #999999;
    --red: #cd3d0f;
    --blue: #161c3b;
    --blue_800: #00439c;
    --blue_700: #2d64e6;
    --blue_500: #3066e6;
    --blue_300: #0072ce;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* button */
.btn {
    border-radius: 50px;
    color: #fff;
}

.btn:hover {
    color: white;
}

.btn--blue {
    background-color: var(--blue_700);
}

.btn--grey {
    background-color: var(--grey);
}

.btn--red {
    background-color: var(--red);
}
/* header */
header {
    position: fixed;
    width: 100%;
    background-color: white;    
}

.header-top {
    background-color: #000;
    padding: 10px;
}

.header-top__logo {
    text-align: right;
}

.header-top__logo img{
    width: 80px;
}

.navbar .container-fluid{
    padding: auto 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-brand {
    width: 40px;
}

.navbar-brand img {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
}
.nav-link {
    position: relative;
}
.nav-link::after {
    content: "\f107";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--grey_100);

}

.nav__left li:first-child {
    margin-right: 20px;
}
/* main */
/* footer */